[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pwntools = "*"
capstone = "*"
filebytes = "*"
keystone-engine = "*"

[dev-packages]

[requires]
python_version = "3.8"
